name: Auto Scraper

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    env:
      FIREBASE_URL: ${{ secrets.FIREBASE_URL }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Install Google Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Verify Chrome Version
        run: google-chrome --version

      - name: Check Chrome Version
        run: google-chrome --version

      - name: Run Scraper
        run: python scraper.py
